{% extends "base.html" %}

{% block title %}Home{% endblock title %} 

{% block content %}

<div class="prose md:prose-lg">
    <h1> Blog. </h1>

    <p>
        Search for something specific:
        <div class="flex">
            <input class="form-control bg-base-200 p-0.5 rounded-md" type="search" 
            name="contains" placeholder="Filter Posts..." 
            hx-post="hx/post_list" 
            hx-trigger="input changed delay:100ms, search, load" 
            hx-target="#search-results" 
            hx-indicator=".htmx-indicator">
            <div class="htmx-indicator text-xl text-primary">...</div>
        </div>
    </p>
</div>

<div id="search-results"></div>

{% endblock content %}