{% extends "base.html" %}

{% block title %}Games{% endblock title %}

{% block content %}


<div class="prose md:prose-lg mx-auto">
    <h1> Games. </h1>

    <p>
        Here you can find a collection of games I have written and complied to WASM. Enjoy!
    </p>
</div>

<div class="carousel w-full py-6">

    <div id="slide1" class="carousel-item relative w-full bg-neutral rounded-2xl aspect-[2/1]">
        <div class="w-[70%] mx-auto prose md:prose-lg py-6">
            <h1>Asteroids</h1>
            <p>My take on the classic arcade game</p>
            <a class="btn btn-accent" href="/games/asteroids">Play Now!</a>
        </div>
        <div class="absolute left-3 md:left-5 right-3 md:right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
            <a href="#slide3" class="btn btn-sm md:btn-md btn-circle">❮</a>
            <a href="#slide2" class="btn btn-sm md:btn-md btn-circle">❯</a>
        </div>
    </div>

    <div id="slide2" class="carousel-item relative w-full bg-neutral rounded-2xl aspect-[2/1]">
        <div class="w-[70%] mx-auto prose md:prose-lg py-6">
            <h1>Temporal Engineer</h1>
            <p>A space themed defence game created for a 48 hour game jam</p>
            <a class="btn btn-accent" href="https://joshpattman.itch.io/temporal-engineer" target="_blank">Play on Itch.io!</a>
        </div>
        <div class="absolute left-3 md:left-5 right-3 md:right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
            <a href="#slide1" class="btn btn-sm md:btn-md btn-circle">❮</a>
            <a href="#slide3" class="btn btn-sm md:btn-md btn-circle">❯</a>
        </div>
    </div>

    <div id="slide3" class="carousel-item relative w-full bg-neutral rounded-2xl aspect-[2/1]">
        <div class="w-[70%] mx-auto prose md:prose-lg py-6">
            <h1>Come Back Later!</h1>
            <p>More games coming soon</p>
        </div>
        <div class="absolute left-3 md:left-5 right-3 md:right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="#slide2" class="btn btn-sm md:btn-md btn-circle">❮</a>
          <a href="#slide1" class="btn btn-sm md:btn-md btn-circle">❯</a>
        </div>
    </div>
</div>

{% endblock content %}
