{% extends "base.html" %}

{% block title %}Home{% endblock title %} 

{% block content %}

<div class="prose md:prose-lg mx-auto"> 

    <h1> Jack Darlison. </h1>

    <p>Hey there, I'm Jack Darlison!</p>

    <p>I am a professional software engineer employed at Barclays on their graduate developer program. Currently my day-to-day focuses on working on a full-stack service using a Spring, Kafka, and React tech stack.</p>

    <p>I obtained a first class MEng Computer Science degree from the University of Southampton. Here I gained a broad range of experience, such as implementing novel deep learning models, designing and verifying programming languages, and creating algorithms for analysing financial models.</p>

    <p>Outside of my passion for all things computer science, I enjoy running, climbing and gaming. Typical, I know.</p>

</div>

{% endblock content %}
