{% extends "base.html" %}

{% block title %}Projects{% endblock title %}

{% block content %}


<div class="prose md:prose-lg mx-auto">
    <h1> Projects. </h1>

    <h3> Games. </h3>

    <div class="carousel w-full py-6">

        <div id="game-slide1" class="carousel-item relative w-full bg-neutral rounded-2xl aspect-[2/1]">
            <div class="w-[70%] mx-auto prose md:prose-lg py-6 flex flex-col justify-between h-full">
                <h1>Asteroids</h1>
                <p>My take on the classic arcade game.</p>
                <a class="btn btn-accent mt-auto mb-2 w-fit" href="/projects/asteroids">Play Now!</a>
            </div>
            <div class="absolute left-3 md:left-5 right-3 md:right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                <a href="#game-slide3" class="btn btn-sm md:btn-md btn-circle">❮</a>
                <a href="#game-slide2" class="btn btn-sm md:btn-md btn-circle">❯</a>
            </div>
        </div>

        <div id="game-slide2" class="carousel-item relative w-full bg-neutral rounded-2xl aspect-[2/1]">
            <div class="w-[70%] mx-auto prose md:prose-lg py-6 flex flex-col justify-between h-full">
                <h1>Temporal Engineer</h1>
                <p>A space themed defence game created for a 48 hour game jam.</p>
                <a class="btn btn-accent mt-auto mb-2 w-fit" href="https://joshpattman.itch.io/temporal-engineer" target="_blank">Play on Itch.io!</a>
            </div>
            <div class="absolute left-3 md:left-5 right-3 md:right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                <a href="#game-slide1" class="btn btn-sm md:btn-md btn-circle">❮</a>
                <a href="#game-slide3" class="btn btn-sm md:btn-md btn-circle">❯</a>
            </div>
        </div>

        <div id="game-slide3" class="carousel-item relative w-full bg-neutral rounded-2xl aspect-[2/1]">
            <div class="w-[70%] mx-auto prose md:prose-lg py-6">
                <h1>Come Back Later!</h1>
                <p>More games coming soon.</p>
            </div>
            <div class="absolute left-3 md:left-5 right-3 md:right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
            <a href="#game-slide2" class="btn btn-sm md:btn-md btn-circle">❮</a>
            <a href="#game-slide1" class="btn btn-sm md:btn-md btn-circle">❯</a>
            </div>
        </div>
    </div>

    <h3> Simulations. </h3>

    <div class="carousel w-full py-6">

        <div id="sim-slide1" class="carousel-item relative w-full bg-neutral rounded-2xl aspect-[2/1]">
            <div class="w-[70%] mx-auto prose md:prose-lg py-6 flex flex-col justify-between h-full">
                <h1>Cellular Automaton</h1>
                <p>An interactive and configurable cellular automata simulation.</p>
                <a class="btn btn-accent mt-auto mb-2 w-fit" href="/projects/cellular_automaton">Play Now!</a>
            </div>
            <div class="absolute left-3 md:left-5 right-3 md:right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                <a href="#sim-slide2" class="btn btn-sm md:btn-md btn-circle">❮</a>
                <a href="#sim-slide2" class="btn btn-sm md:btn-md btn-circle">❯</a>
            </div>
        </div>

        <div id="sim-slide2" class="carousel-item relative w-full bg-neutral rounded-2xl aspect-[2/1]">
            <div class="w-[70%] mx-auto prose md:prose-lg py-6">
                <h1>Come Back Later!</h1>
                <p>Langton's Ant is next.</p>
            </div>
            <div class="absolute left-3 md:left-5 right-3 md:right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
            <a href="#sim-slide1" class="btn btn-sm md:btn-md btn-circle">❮</a>
            <a href="#sim-slide1" class="btn btn-sm md:btn-md btn-circle">❯</a>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
