{% extends "base.html" %}

{% block title %}Life{% endblock title %}

{% block content %}
<div class="prose md:prose-lg mx-auto">
    <h1> Game of Life. </h1>

    <p> A cellular automata simulator. Left click will add new alive cells. The config menu can be used to configure the simulation and pick from the Game of Life and Highlife rule sets. You can also create your own state machine. In the future I'd like to add support for multiple states.</p>
</div>


<div class="my-4 border-neutral border-2">
    <canvas id="glcanvas" class="w-full aspect-[4/3]" tabindex='1'></canvas>
    <script src="/static/mq_js_bundle-4-13.js"></script>
    <script>load("/static/life.wasm");</script>
</div>

{% endblock content %}