<!doctype html>
<html data-theme="forest" lang="en">
  <head>
    <link rel="stylesheet" href="/static/main.css" >

    <title>{% block title %}{% endblock title %}</title>

    {% block head %} {% endblock head %}
  </head>

  <body>

    {% include "components/tablist.html" %}

    {% block pre_content %}{% endblock pre_content %}

    <div class="container mx-auto prose">
        {% block content %}{% endblock content %}
    </div>
  </body>
    
   {% block post_content %}{% endblock post_content %}

  {% include "components/footer.html" %}

</html>
