<!doctype html>
<html data-theme="forest" lang="en">
  <head>
    <link rel="stylesheet" href="/static/main.css" >
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>

    <title>{% block title %}{% endblock title %}</title>

    {% block head %} {% endblock head %}
  </head>

  <body class="container mx-auto max-w-full md:max-w-3xl px-4 md:px-8" >

    {% include "components/tablist.html" %}

    {% block content %}{% endblock content %}
    
    {% include "components/footer.html" %}
  
  </body>

</html>
