    
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 my-8">

    {% for post in posts %}

    <a class="card card-compact bg-neutral text-neutral-content no-underline transition-all hover:-translate-y-4" href="/blog/{{ post.title }}">

        <div class="card-body">

            <h2 class="card-title">
                {{ post.title }}
            </h2>

            <p>
                {{ post.date }}
            </p>

            <div class="card-actions justify-end">
                {% for tag in post.tags %}
                    <div class="badge badge-accent">{{ tag }}</div>
                {% endfor %}
            </div>

        </div>
    </a>

    {% endfor %}

</div> 