    
<div class="grid grid-cols-3 gap-4 my-8">

    {% for post in posts %}

    <a class="card card-compact bg-neutral text-neutral-content no-underline shadow-xl transition-all hover:-translate-y-4" href="/post/{{ post.title }}">

        <div class="card-body">

            <h2 class="card-title">
                {{ post.title }}
            </h2>

            <p>
                {{ post.date }}
            </p>

            <!-- <div class="card-actions justify-end">
                <div class="badge badge-accent">Test</div>
            </div> -->

        </div>
    </a>

    {% endfor %}

</div> 